C#/WCF/Attribute KnowType/Client/Service References/hRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="ՀՀ" type="xs:int" />
      <xs:element minOccurs="0" name="Vendor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:complexType name="TruckCar">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Car">
        <xs:sequence>
          <xs:element minOccurs="0" name="Capacity" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TruckCar" nillable="true" type="tns:TruckCar" />
  <xs:complexType name="PassengerCar">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Car">
        <xs:sequence>
          <xs:element minOccurs="0" name="Passengers" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PassengerCar" nillable="true" type="tns:PassengerCar" />
</xs:schema>