C#/WCF/Login/UserPassword/WCF Client UserPass Login/Service References/wcfService/WCFClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpsBinding_iWCF_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:9595/wcf/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:9595/wcf/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iWCF_iInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:iInfo" />
  </wsdl:message>
  <wsdl:message name="iWCF_iInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:iInfoResponse" />
  </wsdl:message>
  <wsdl:message name="iWCF_jInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:jInfo" />
  </wsdl:message>
  <wsdl:message name="iWCF_jInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:jInfoResponse" />
  </wsdl:message>
  <wsdl:message name="iWCF_GetIP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIP" />
  </wsdl:message>
  <wsdl:message name="iWCF_GetIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIPResponse" />
  </wsdl:message>
  <wsdl:message name="iWCF_GetIP2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIP2" />
  </wsdl:message>
  <wsdl:message name="iWCF_GetIP2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIP2Response" />
  </wsdl:message>
  <wsdl:portType name="iWCF">
    <wsdl:operation name="iInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/iWCF/iInfo" message="tns:iWCF_iInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iWCF/iInfoResponse" message="tns:iWCF_iInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="jInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/iWCF/jInfo" message="tns:iWCF_jInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iWCF/jInfoResponse" message="tns:iWCF_jInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIP">
      <wsdl:input wsaw:Action="http://tempuri.org/iWCF/GetIP" message="tns:iWCF_GetIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iWCF/GetIPResponse" message="tns:iWCF_GetIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIP2">
      <wsdl:input wsaw:Action="http://tempuri.org/iWCF/GetIP2" message="tns:iWCF_GetIP2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iWCF/GetIP2Response" message="tns:iWCF_GetIP2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpsBinding_iWCF" type="tns:iWCF">
    <wsp:PolicyReference URI="#NetHttpsBinding_iWCF_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="iInfo">
      <soap12:operation soapAction="http://tempuri.org/iWCF/iInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jInfo">
      <soap12:operation soapAction="http://tempuri.org/iWCF/jInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIP">
      <soap12:operation soapAction="http://tempuri.org/iWCF/GetIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIP2">
      <soap12:operation soapAction="http://tempuri.org/iWCF/GetIP2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFClass">
    <wsdl:port name="NetHttpsBinding_iWCF" binding="tns:NetHttpsBinding_iWCF">
      <soap12:address location="https://localhost:9595/wcf/" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:9595/wcf/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>