C#/WCF/DataContract/Client/Service References/hRef/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ntcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9795/WcfService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9795/WcfService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9795/WcfService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CarList_SetCar_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCar" />
  </wsdl:message>
  <wsdl:message name="CarList_SetCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCarResponse" />
  </wsdl:message>
  <wsdl:message name="CarList_GetCar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCar" />
  </wsdl:message>
  <wsdl:message name="CarList_GetCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarResponse" />
  </wsdl:message>
  <wsdl:portType name="CarList">
    <wsdl:operation name="SetCar">
      <wsdl:input wsaw:Action="http://tempuri.org/CarList/SetCar" message="tns:CarList_SetCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CarList/SetCarResponse" message="tns:CarList_SetCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <wsdl:input wsaw:Action="http://tempuri.org/CarList/GetCar" message="tns:CarList_GetCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CarList/GetCarResponse" message="tns:CarList_GetCar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bhttp" type="tns:CarList">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetCar">
      <soap:operation soapAction="http://tempuri.org/CarList/SetCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <soap:operation soapAction="http://tempuri.org/CarList/GetCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ntcp" type="tns:CarList">
    <wsp:PolicyReference URI="#ntcp_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SetCar">
      <soap12:operation soapAction="http://tempuri.org/CarList/SetCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <soap12:operation soapAction="http://tempuri.org/CarList/GetCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="bhttp" binding="tns:bhttp">
      <soap:address location="http://localhost:9795/WcfService/basichttp" />
    </wsdl:port>
    <wsdl:port name="ntcp" binding="tns:ntcp">
      <soap12:address location="net.tcp://localhost:9796/WcfService/nettcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9796/WcfService/nettcp</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VITYA-PC\Vitya</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>